# USI engine
DirLog        ./log
CmdPath       bin/aobaz
# Device        0 1 2 # use three OpenCL devices (ID 0, 1, and 2)
Device        -1       # use a default device

# socket communication
WeightSave    ./weight-save
SizeSendQueue 64
RecvTO        30   # in second
SendTO        30   # in second
RecvBufSiz    8192 # in byte
SendBufSiz    8192 # in byte
MaxRetry      60
Addr          130.153.143.32
Port          20000

# output
DirCSA        ./csa
MaxCSA        10000
PrintStatus   5 # 0:off 1-:specify status-output time interval in sec
PrintCSA      4  # 0:off 1-:specify the number of moves per a line
VerboseEngine 1  # 0:off 1:on
KeepWeight    1  # 0:off 1:on
