# USI engine
DirLog        ./log
CmdPath       bin/aobaz
Device        O-1:28:65H
#Device       O-1:3:7H
#Device       O-1:7:15H
#Device       O-1:14:29H
#Device       O-1:28:85H # best setting for 2080 Ti
#Device       B2:3:7
# O-1:3:7H use opencl, device id -1 (default), batchsize 3, 7 parallel plays,
#          and use half precision partially
#          parallels must be bigger than batchsize.
# B2:3:7   use cpublas, 2 threads, batchsize 3, 7 parallel plays

# socket communication
WeightSave    ./weight-save
SizeSendQueue 64
RecvTO        30   # in second
SendTO        30   # in second
RecvBufSiz    8192 # in byte
SendBufSiz    8192 # in byte
MaxRetry      60
Addr          130.153.143.32
# Addr          127.0.0.1
Port          20000

# output
DirCSA        ./csa
MaxCSA        1000
PrintStatus   5  # 0:off 1-:specify status-output time interval in sec
PrintCSA      4  # 0:off 1-:specify the number of moves per a line
VerboseEngine 0  # 0:off 1:on
KeepWeight    1  # 0:off 1:on
